$white: #ffffff;
$dirtyWhite: #e6ecf8;
$black: rgb(20, 28, 58);
$purple: #7510f7;

body {
  color: $black;
  padding-top: 17vh;
}
header {
  font-size: 20px;
  height: 102px;
  display: flex;
  align-items: center;
  background-color: $white;
  transition: .3s ease-in;
}
.navBg-dark{
  background-color: $black;
  .nav-link, .nav-link.active{
    color: $white;
  }
}
#nav-left .nav-link {
  margin-right: 80px;
}
#nav-right .nav-link {
  svg {
    height: 26px;
    width: 26px;
  }
  &:first-child {
    margin-right: 45px;
  }
}
#hero {
  height: 100vh;
  section{
    font-size: 50px;
  }
  span{
    font-weight:bold;
  }
  &-text{
    position:relative;
    div:first-child{
      font-size: 40px;
    }
  }
  &-gif{
    img{
      height: 451px;
      width: 451px;
    }
  }
}
#aboutus{
  background-color: $purple;
  
  h2{
    font-size: 50px;
  }
  p{
    font-size:18px; 
    max-width: 80%;
    margin: 0 auto;
  }
  .info{
    color: $white;
  }
  .skills{
    background: $white;
    border-radius: 20px;
  }
}
